.place {
    display: grid;
    grid-template-columns: minmax(440px, 460px) 1fr;
    grid-template-rows: repeat(2, min-content);
    gap: 48px 40px;
    padding-bottom: 80px;
    max-width: 100%;
}

.place:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width:1279px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width:768px) {
    .place {
        max-width: 720px;
        padding-bottom: 73px;
        gap: 48px 28px;
        grid-template-columns: 340px 1fr;
    }
}

@media screen and (max-width:738px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "website"
            "image"
            "text";
        gap: 32px;
        padding-bottom: 50px;
    }
}